<% if results&.any? %>
  <% results.each do |result| %>
    <div><%= link_to result.title, article_path(result), data: { turbo_frame: '_top' }  %></div>
  <% end %>
<% else %>
  <div>No results found</div>
<% end %>