
<% if no_search_query %>
<div>10 Most recent articles</div>
<% end %>

<% if results&.any? %>
  <% results.each do |result| %>
    <div><%= link_to result.title, article_path(result), data: { turbo_frame: '_top',turbo: 'false' }  %></div>
  <% end %>
<% else %>
  <div>No results found</div>
<% end %>