
<% if no_search_query %>
<div>10 Most recent articles</div>
<% end %>

<% if results&.any? %>
  <% results.each do |result| %>
    <div class="p-2 hover:bg-gray-200 cursor-pointer">
      <%= link_to result.title, article_path(result), data: { turbo_frame: '_top', turbo: 'false' }, class: "text-blue-500 hover:text-blue-700" %>
    </div>
  <% end %>
<% else %>
  <div class="p-2">No results found</div>
<% end %>